trunk/src/conf/dtd/lang/languages.dtd

<!ELEMENT root (group+)>
<!ELEMENT group (element+)>
<!ATTLIST group name CDATA #REQUIRED type CDATA #REQUIRED 
                prefix CDATA #IMPLIED default CDATA #IMPLIED>
<!ELEMENT element EMPTY>
<!ATTLIST element name CDATA #REQUIRED active CDATA #IMPLIED 
                  key CDATA #REQUIRED value CDATA #REQUIRED>
